{% extends "base.html" %}

{% block content %}
<div style="display: flex;">
    {% for dish in second_dishes %}
        <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title"><font color="green"><b>{{dish.name}}</b></font></h5>
                <p class="card-text">{{dish.ingredients}}</p>
                <a href="{{ url_for('second_dish', pk=dish.id) }}" class="btn btn-primary">Посмотреть рецепт</a>
              </div>
        </div>
    {% endfor %}
</div>
{% endblock %}